.footer
    .footer__inner.container
        .row
            .col-4
                .footer-logo
                    .footer-logo__top
                        img(src="image/logo.png", alt="logo" width="80", height="80")                    
                    .footer-logo__bottom 2017-2018. Все права защищены
            .col-4
                .footer-address
                    .footer-address__item Кыргызская Республика, Чуйская область,
                    .footer-address__item Ысык-Атинский р-н, с. Новопокровка
                    .footer-address__item Логвиненковский а/о, Контур109
            .col-4
                .footer-contact
                    .footer-contact
                        .footer-contact__item +996 (559) 585-501‬,
                        .footer-contact__item ‭+996 (709) 703-113,  
                        .footer-contact__item ‭+996 (703) 057-146 
                        .footer-contact__item ooocsi2012@gmail.com
           