.header.container
    .row
        .col-3
            .logo
                .logo__item
                    a(href="/")
                        img(src="image/logo.png", alt="logo" width="80", height="80")                    
        .col-8
            .nav
                ul
                    li.nav__item
                        a(href="/") Главная                
                    
                    li.nav__item
                        a(href="/job") Производство
                    li.nav__item
                        a(href="/product") Продукция    
                    li.nav__item
                        a(href="/object") Объект   
                                   
                    li.nav__item
                        a(href="/contact") Контакты
                        
                    .clear