extends block/layout.jade
block content
	.page
		include block/header
		.content
			.content__contact.container
				.contact										
					.contact__name Адрес
					.contact__list
						.contact-list
							ul
								li.contact-list__item Кыргызская Республика, Чуйская область,
								li.contact-list__item Ысык-Атинский р-н, с. Новопокровка
								li.contact-list__item Логвиненковский а/о, Контур109
					.contact__name Телефоны
					.contact__list
						.contact-list
							ul
								li.contact-list__item +996 (559) 585-501‬
								li.contact-list__item ‭+996 (709) 703-113‬
								li.contact-list__item +996 (703) 057-146
					.contact__name E-mail
					.contact__list
						.contact-list
							ul
								li.contact-list__item ooocsi2012@gmail.com
																					
		.push
		include block/footer