extends block/layout.jade
block content
	.page
		include block/header		
		.content			
			.content__slider
				.main-slider
					ul.owl-carousel.owl-theme
						li.main-slider__item
							img.image-slider(src="image/job/product6/5.jpg", alt="")
							.main-slider__text					
								.slider-text
									.slider-text__inner
										.slider-text__title Изделия любых размеров из травертина
										.slider-text__desc Балясины, перилы, колонны, тумбы, окна
										.slider-text__link 
											a(href="/product") Смотреть изделия
							
						li.main-slider__item
							img(src="image/job/product6/4.jpg", alt="")
							.main-slider__text
								.slider-text
									.slider-text__title Изделия любых размеров из мрамора
									.slider-text__desc Балясины, перилы, колонны, тумбы, окна
									.slider-text__link 
										a(href="/product") Смотреть изделия
							
							
			.content__partner-slider
				.partner
					.partner__title
						h1.main-title Объекты:
					.partner__slider
						.partner-slider
							ul.owl-carousel.owl-theme
								li.partner-slider__item
									a(href="/object")
										img(src="image/job/object/1.jpg", alt="" width="300", height="300")
								li.partner-slider__item
									a(href="/object")
										img(src="image/job/object/5.jpg", alt="" width="300", height="300")
								li.partner-slider__item
									a(href="/object")
										img(src="image/job/object/3.jpg", alt="" width="300", height="300")
								li.partner-slider__item
									a(href="/object")
										img(src="image/job/object/4.jpg", alt="" width="300", height="300")
									
								
							
					
					
			.content__product.container
				.product
					.product__title
						h1.main-title Продукты
					.product__slider
						.product-slider
							ul.owl-carousel.owl-theme
								li.product-slider__item
									a(href="/product")
										img(src="image/job/product/1.jpg" width="200", height="200", alt="")
								li.product-slider__item
									a(href="/product")
										img(src="image/job/product/2.jpg" width="200", height="200", alt="")
								li.product-slider__item
									a(href="/product")
										img(src="image/job/product/3.jpg" width="200", height="200", alt="")
								li.product-slider__item
									a(href="/product")
										img(src="image/job/product/5.jpg" width="200", height="200", alt="")		
			.content__about.container
				.about
					.about__title
					
						.about-title
							.about-title__title
									h1.main-title Камни используемые в производстве
							
					.about__text
						.about-text
							ul
								li.about-text__item
									p.about-text__text Известняк -Лайм стоун, представляет собой натуральный камень и состоит из минерала доломита (кристаллическая горная порода, включающая в свой состав кварц, известняк, хлацедон и так далее). Имеет так называемый цвет лимры – белый, серый, коричневый. Его часто используют для строительства зданий, мостов, облицовки фасадов.         
									p.about-text__text Лайм стоун, как и любой доломит, характеризуется высокой морозостойкостью, также он практически не поглощает влагу. В интерьере данный камень можно встретить повсеместно: столешницы, перила, камины, различного рода вставки и так далее. Особенность рисунка Лайм стоуна сделала его невероятно популярным. Сейчас этот камень является наиболее востребованным среди прочих. В отделочных работах дорогостоящих объектов (особняков, архитектурных памятников) Лайм стоун занимает одно из ведущих мест.   

								li.about-text__item
										p.about-text__text Известняк ракушечник -«Сары -Таш» отличный строительный камень, добываемый в Кыргызстане. В зависимости от залегания его в первом или втором слое в плане цвета может варьироваться от коричнево-желтого, желтовато-беловатого до светлого палевого и применяется как во внутренней, так и в наружной отделке. Высоко декоративный камень, который дышит (большое содержание пор) и достаточно спокойно выдерживает сезонные колебания температур, и имеет низкий показатель теплопроводности.

										p.about-text__text Говоря о первом слое  уточним: камень  с раковинно-детритовой пористой структурой имеет живописный рисунок в виде среза дерева и относится к группе кальцитовых известняков. Внешне эффектный, ракушечник содержит до 90% кальцита. До 9% составляют марганец, железо и другой кремнистый минерал. Все это указывает на то, что этот камень - долговечная средне-прочная горная порода, относимая к плотным известнякам, по составу напоминающим высокого качества травертин. Ракушечник Сары-Таш отлично обрабатывается (лощение, пиление, рифление, скол, полировка) и соответствует всем требованиям ГОСТ к горным породам, применяемым в наружной и внутренней отделке, и в производстве строительно-архитектурных изделий.
										p.about-text__text Второй слой ракушечника имеет светло-бежевый цвет. Глубина и особенность рисунка во многом зависит от распила слэба. Общее - отпечаток вечности (поры). Более плотный по своему составу, он позволяет производить из блоков облицовочную плиту, профили, колонны, базы, капители, балясины перила балюстрады, облицовку и чаши фонтанов.   
				
								li.about-text__item							
									p.about-text__text Мрамор обладает великолепными свойствами, позволяющими человеку использовать породу в разных сферах – при создании малых архитектурных форм, в качестве облицовочного материала или же создании уникальных изделий для интерьера. Красота и долговечность мрамора делает его достойным строительным материалам, с которым может соперничать только гранит. 
						
					
			.content__form(style="margin-bottom: 20px")
				.main-form
					.main-form__title
						h1.mai-title(style="text-align: center") Написать нам
				#form.container.center.z-depth-5
					form#name-field.col.s12
					
						.input-field.col.s12
							input.input-field-text#name(type="text")
							label(for="name").login-text Имя
					form#email-field.col.s12
						
						.input-field.col.s12
							input.input-field-text#user_email.validate(type="email")
							label(for="email").login-text Email
					form#message-field.col.s12
						
						.input-field.col.s12
							textarea#textarea1.materialize-textarea(type="text-area")
							label(for="textarea1").login-text

					a(href="#modal1")#send_email.waves-effect.waves-light.btn-large.homepage-buttons.button-text.center.modal-trigger.white-text.black Отправить Email


					#modal1.modal.modal-fixed-footer.thank-you-modal(style="z-index: 10000")
						.modal-content
							h4 Thank you
							p Ваш е-мэйл отправлен.
						.modal-footer
							a(href="#").modal-action.modal-close.waves-effect.waves-green.btn-flat
		.push				
		include block/footer

	
	