extends block/layout.jade
block content
	.page
		include block/header		
		.content			
			.content__slider
				.main-slider
					ul.owl-carousel.owl-theme
						li.main-slider__item
							img(src="image/job/product6/5.JPG")
							.main-slider__text					
								.slider-text
									.slider-text__inner
										.slider-text__title Изделия любых размеров из травертина
										.slider-text__desc Плита облицовочная, профиль, мозаика, брусчатка
										.slider-text__link 
											a(href="/product") Смотреть изделия
							
						li.main-slider__item
							img(src="image/job/product6/4.JPG")
							.main-slider__text
								.slider-text
									.slider-text__title Изделия любых размеров из мрамора
									.slider-text__desc Плита облицовочная, профиль, мозаика, брусчатка
									.slider-text__link 
										a(href="/product") Смотреть изделия
							
							
			.content__partner-slider
				.partner
					.partner__title
						h1.main-title Объекты:
					.partner__slider
						.partner-slider
							ul.owl-carousel.owl-theme
								li.partner-slider__item
									a(href="/object")
										img(src="image/job/object/1.jpg", alt="" width="300", height="300")
								li.partner-slider__item
									a(href="/object")
										img(src="image/job/object/5.jpg", alt="" width="300", height="300")
								li.partner-slider__item
									a(href="/object")
										img(src="image/job/object/3.jpg", alt="" width="300", height="300")
								li.partner-slider__item
									a(href="/object")
										img(src="image/job/object/4.jpg", alt="" width="300", height="300")
									
								
							
					
					
			.content__product.container
				.product
					.product__title
						h1.main-title Продукты
					.product__slider
						.product-slider
							ul.owl-carousel.owl-theme
								li.product-slider__item
									a(href="/product")
										img(src="image/job/product/1.jpg" width="200", height="200", alt="")
								li.product-slider__item
									a(href="/product")
										img(src="image/job/product/2.jpg" width="200", height="200", alt="")
								li.product-slider__item
									a(href="/product")
										img(src="image/job/product/3.jpg" width="200", height="200", alt="")
								li.product-slider__item
									a(href="/product")
										img(src="image/job/product/5.jpg" width="200", height="200", alt="")		
			.content__about.container
				.about
					.about__title
					
						.about-title
							.about-title__title
									h1.main-title Сегодня компания ОcОО «CSI» предлагает следующий спектр продукции из натурального камня:
							
					.about__text
						.about-text
							ul								 
								li.about-text__item
									p.about-text__text облицовочные плиты толщиной от 10 мм и выше (пиленые, полированные, искусственно состаренные, бручардированные и с трехмерной гравировкой) для отделки фасадов зданий, интерьерных работ и в качестве напольного покрытия жилых и общественных помещений
									

								li.about-text__item
										p.about-text__text декоративные фасадные и интерьерные профиля (наличники, карнизы)

										
				
								li.about-text__item							
									p.about-text__text мозаика
								li.about-text__item							
									p.about-text__text облицовочный рваный камень
								li.about-text__item							
									p.about-text__text декоративная тротуарная плита
						
					
			.content__form(style="margin-bottom: 20px")
				.main-form
					.main-form__title
						h1.mai-title(style="text-align: center") Написать нам
				#form.container.center.z-depth-5
					form#contact-form(action="send", method="post")
										
						.input-field.col.s12
							input.input-field-text#name(type="text" name="name")
							label(for="name").login-text Имя
						
						
						.input-field.col.s12
							input.input-field-text#user_email.validate(type="email" name="email")
							label(for="email").login-text Email
					
						
						.input-field.col.s12
							textarea#textarea1.materialize-textarea(type="text-area" name="message")
							label(for="textarea1").login-text

						button(type="submit")	Отправить


					
		.push				
		include block/footer

	
	