extends block/layout.jade
block content
    .page
        include block/header
        .content
            .content__job.container
                .job
                    .job__list
                        .job-list
                            ul
                                li.job-list__image
                                    a(href="")
                                        img(src="image/FullSizeRender-02-09-18-17-03.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                         img(src="image/FullSizeRender-02-09-18-17-03-1.jpg" width="300" height="300", alt="")
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                        img(src="image/FullSizeRender-02-09-18-17-03-2.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/FullSizeRender-02-09-18-17-03-3.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/FullSizeRender-02-09-18-17-11.jpg" width="300" height="300", alt="")
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                          img(src="image/FullSizeRender-02-09-18-17-11-1.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                          img(src="image/FullSizeRender-02-09-18-17-11-2.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                          img(src="image/FullSizeRender-02-09-18-17-11-3.jpg" width="300" height="300", alt="")
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                         img(src="image/FullSizeRender-02-09-18-17-11-4.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                         img(src="image/FullSizeRender-02-09-18-17-11-5.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                         img(src="image/FullSizeRender-02-09-18-17-11-6.jpg" width="300" height="300", alt="")
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                         img(src="image/FullSizeRender-02-09-18-17-12.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                         img(src="image/FullSizeRender-02-09-18-17-16-1.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                         img(src="image/FullSizeRender-02-09-18-17-16-2.jpg" width="300" height="300", alt="")   
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                         img(src="image/IMG_0523-02-09-18-17-16.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                         img(src="image/IMG_0824-02-09-18-17-30.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                         img(src="image/IMG_0826-02-09-18-17-30.jpg" width="300" height="300", alt="")   
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                         img(src="image/IMG_0902-02-09-18-17-03.jpg" width="300" height="300", alt="")                                                                           
                                .clear


        .push

        include block/footer





