extends block/layout.jade
block content
    .page
        include block/header
        .content
            .content__job.container
                .job
                    .job__list
                        .job-list
                            ul
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/1.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                         img(src="image/job/first/2.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/3.JPG" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/4.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/5.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/6.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/7.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/8.JPG" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/9.JPG" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/10.JPG" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/11.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/12.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/13.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/14.JPG" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/first/15.jpg" width="300" height="300", alt="")   
                                                                                                       
                                .clear


        .push

        include block/footer





