extends block/layout.jade
block content
    .page
        include block/header
        .content
            .content__job.container
                .job
                    .job__list
                        .job-list
                            ul
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/1.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/2.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/3.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/4.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/5.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/6.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/7.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/8.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/9.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/10.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/11.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/12.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/13.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/14.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/15.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/16.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/17.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/18.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/19.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/20.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/object/21.jpg" width="300" height="300", alt="")
                                 
                                                                                                       
                                .clear


        .push

        include block/footer





