extends block/layout.jade
block content
    .page
        include block/header
        .content
            .content__job.container
                .job
                    .job__list
                        .job-list
                            ul
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product/1.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                         img(src="image/job/product/2.jpg" width="300" height="300", alt="")
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                        img(src="image/job/product/3.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product/4.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product/5.jpg" width="300" height="300", alt="")
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                        img(src="image/job/product/6.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product/7.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product/8.jpg" width="300" height="300", alt="")
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                        img(src="image/job/product/9.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product/10.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product/11.jpg" width="300" height="300", alt="")
                                li.job-list__image.job-list__image_last
                                    a(href="")
                                        img(src="image/job/product/12.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product/13.jpg" width="300" height="300", alt="")
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/1.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/2.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/3.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/4.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/5.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/6.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/7.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/8.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/9.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product2/10.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product3/1.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product3/2.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product3/3.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product4/1.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product4/2.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product4/3.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product4/4.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product5/1.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product5/2.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product5/3.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product5/4.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product5/5.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/1.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/2.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/3.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/4.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/6.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/7.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/8.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/9.jpg" width="300" height="300", alt="")   
                                li.job-list__image
                                    a(href="")
                                        img(src="image/job/product6/5.jpg" width="300" height="300", alt="")   
                                
                                                                                                       
                                .clear


        .push

        include block/footer





